
table{
    width: 100%;
    text-transform: uppercase;
    border: 1px solid #e1e1e1;
    margin-top: 80px;
}

table thead{
    border-bottom:1px solid #e1e1e1
}

table thead th{
    font-size: 18px;
    padding-top: 21px;
    padding-bottom: 21px;
    font-weight: 500;
    color: #777777;
    background: #ffffff;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

table thead tr :first-child, table tbody td:first-child{
    padding-left:20px;
}
table tbody td{
    font-size: 22px;
    padding-bottom: 15px;
}

.cart-content {
padding-top: 10px;
}
.cart-content h4{
    display: inline-block;
    padding-left: 25px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    transition: all 0.3s ease-in-out;
}
.cart-content h4:hover{
    color: #c14679;
    cursor: default;
}

.cart .quantity-button{
    border:1px solid #e1e1e1;
    background: none;
    width: 38px;
    height: 38px;
    border-radius: 6px;
    font-weight: 400;
    cursor: pointer;
    color: #151515;
    transition: .3s all ease;
    line-height: 36px;
    position: relative;
    text-align: center;
    margin: 0 10px;
    font-size: 28px;
    outline: none;
}
.cart-quantity .quantity{
    font-size: 22px;
}
.cart-bottom{
    margin-top:50px;
}
.cart-input{
    appearance: none;
    -webkit-appearance:none;
    min-height: 70px;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .05em;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    width: 220px;
    border: 1px solid #e1e1e1;
    border-radius: 6px;
    background:none;
    margin-right: 20px;
}
.cart-button{
    min-width: 190px;
    padding: 19px 50px;
    font-size: 14px;
    line-height: 2;
    position: relative;
    overflow: hidden;
    display: inline-block;
    font-size: 14px;
    line-height: 2;
    border: 2px solid #a43664;
    border-radius: 6px;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: #c14679;
    color: white;
    outline: none;
    z-index: 1;
}
.cart-button:hover,.cart-button:active{
    color: #ffffff;
    background-color: #c14679;
    border-color: #c14679;
}
.cart-button:hover:after{
  transform: translate3d(-50%, -50%, 0) scale(0);;
}
.cart-button::after{
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 110%;
    padding-bottom: 110%;
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1);
    transition: inherit;
    pointer-events: none;
    z-index: -1;
    border-color: #a43664;
    background-color: #a43664;
}
.check-out{
    display:inline-block;
    float: right;
}
.total-span{
    color: #9b9b9b;
    text-transform: capitalize;
    margin-bottom: 20px;
    position: relative;
    top: -5px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    margin-right: 25px;
}
.price-span{
    font-size:36px;
    line-height: 1.33333;
    color: #151515;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    margin-right: 25px;
}