.team{
    margin-top:90px;
    background-image: url("/images/images/banner/bg-pattern-1.jpg");
}
.team .item{
    padding: 0 20px;
    height: 500px;
}
.team-figure{
    position: relative;
	display: inline-block;
	overflow: hidden;
	border-radius: 50%;
	border: 14px solid #ffffff;
	z-index: 1;
}

.item:hover .team-image{
transform: scale(1.05);
}


.team-image{
    width: 100%;
	transition: all .3s ease;
    }
.team-header{
    position: relative;
    display: inline-block;
    max-width: 200px;
    font-size: 0;
    line-height: 0;
}

.decor{
    position: absolute;
    content: '';
    top: -6px;
    right: -72px;
    bottom: -6px;
    left: -6px;
    transform: rotate(37deg);
    transition: all .3s ease;
}
.decor::before{
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 29px 16.5px 0 16.5px;
    border-color: #ffffff transparent transparent transparent;
    transition: all 0.3s ease;
}
.item:hover .decor{
    transform: rotate(2deg);
   
}
.team .item:hover .team-body{
    transform: translate3d(0, 20px, 0);

}
.team-body{
    margin-top: 10px;
    padding: 0 9px;
    position: relative;
    transition: transform 0.3s ease;
}
.name{
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.05em;
    font-size: 25px;
    color: #151515;
    display: block;
    transition : all 0.3s ease;
}

.description{
    color: #777777;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0.05em;
}
.team .fab{
    padding: 0 5px;
    font-size: 20px;
    letter-spacing: 0.2em;
    transition: all 0.3s ease-in-out;
}
.team .fab:hover{
    cursor: pointer;
    color: #c14679;

}
.team .social{
    text-align: center;
}
.team-end{
    height: 450px;
    text-align: center;
    background-repeat: no-repeat;
    margin-top: -16px;
    background-position: center center;
    background-image: url("/images/images/banner/bg-cta-1.jpg");
}

.team-end .header-1{
    font-size: 36px;
    letter-spacing: 0.05em;
    font-weight: 400;
    line-height: 3.5;
}
.team-end .team-header2{
    color: #151515;
    font-weight: 700;
    font-size: 55px;
    letter-spacing: 0.05em;
    line-height: 2.0;
}
.team .owl-theme{
    padding-bottom: 35px;
}