.blog-list .blog-list-content{
margin-top:50px ;
}
.blog-list .col-10{
    margin-bottom: 90px;
}
.blog-list .blog-new{
    font-size: 14px;
    padding: 1px 2px;
    color: white;
    background-color: #c14679;
text-transform: uppercase;
font-weight: 600;
margin-right: 17px;
}
.blog-list .time-right{
    border-left: 1px solid #e1e1e1;
    font-size: 15px;
    color: #777777;
    padding-left: 16px;

}
.blog-list .blog-content{
    margin-top: 33px;
}
.blog-list .news-title{
    width: 90%;
    font-size: 35px;
    line-height: 1.6;
    font-weight: 500;
    letter-spacing: 0.05em;
    margin-bottom: 19px;
}
.blog-list .figure{
    overflow: hidden;
}
.blog-list .figure img{
    transition: all 0.25s ease;
}
.blog-list .figure:hover img{
    transform: scale(1.08);
    cursor: pointer;
}
.blog-list .blog-description{
    margin-top: 30px;
    color: #777777;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
}
.blog-list .blog-link{
    text-transform: uppercase;
    color: #c14679;
    margin-top: 22px;
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: .1em;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    transition: all 0.25s ease-in-out;
}
.blog-list .blog-link:hover{
color: #151115;
text-decoration: none;
}
.blog-list .news-title a{
    transition: all 0.25s ease-in-out;
}
.blog-list .cheif-identify{
    border: 1px solid #e1e1e1;
    padding-top: 28px;
    text-align: center;
    padding-bottom: 30px;
    line-height: 1.5;
    margin-top: 68px;
}
.blog-list .cheif-image{
    border-radius: 50%;
    margin-bottom: 25px;
    transition: all 0.25s ease-in-out;
}
.blog-list .cheif-image:hover{
    box-shadow: 0 3px 18px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.blog-list .header-5{
    font-size: 16px;
    letter-spacing: 0.05em;
    font-weight: 700;
    margin-bottom: 16px;
}
.blog-list .header-5 a{
    transition: all 0.3s ease-in-out;
}
.blog-list .cheif-description{
    color: #777777;
}
.blog-list .col-12{
    text-align: center;
    margin-bottom:40px;
}
.blog-list .form-control,.blog-list .form-control:focus{
    min-height: 60px;
    background: #f9faf9;
    border-width: 1px;
    border-color: #f9faf9;
    padding: 17px 22px;
    border-radius: 0;
    letter-spacing: .05em;
    box-shadow: none;
}
.blog-list .form-wrap{
    position: relative;
}
.blog-list .form-control::placeholder{
    position: absolute;
    letter-spacing: .05em;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;    color: #777777;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    top: 17px;
    right: 122px;
    cursor: auto;
    transition: all 0.3s ease-in-out;
}
.blog-list .form-control:focus::placeholder{
    opacity: 0;
}

.blog-list .form-wrap .fa-search{
    position: relative;
    bottom: 40px;
    left: 98px;
    font-size: 25px;
}

.blog-list .blog-header{
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 14px;
    font-size: 17px;
    letter-spacing: 0.1em;
}
.blog-list .list-categories{
    list-style: none;
    float: left;
    padding:0;
    letter-spacing: .1em;
}
.blog-list .list-categories >li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog-list .list-categories a{
    color: #151515;
    margin-right: 163px;
    margin-left: 5px;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
    font-weight: 400;
}

.blog-list .count{
    float: right;
    color: #777777;
}
.blog-list .mini-posts{
    margin-top: 23px;
    margin-bottom: 37px;
    display: flex;
}
.blog-list .mini-right{
    margin-top: 10px;
    margin-left: 11px;
}
.blog-list .mini-left{
    overflow: hidden;
    width: 75%;
}
.blog-list .post-image{
    display: inline-flex;
    width: 106px;
    height: 104px;
    transition: all 0.3s ease-in-out;
}
.blog-list .post-image:hover{
    transform: scale(1.08);
    cursor: pointer;
}

.blog-list .post-title{
    margin-bottom: 10px;
}
.blog-list .post-title a, .blog-list .list-archive a{
    color: #151115;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    letter-spacing: 0.03em;
    transition: all 0.3s ease-in-out;
}


.blog-list .post-time{
    color: #c14679;
    font-weight: 400;
    font-size: 16px;
}
.blog-list .list-tags{
    list-style: none;
    padding: 0;
    float: left;
}
.blog-list .list-tags >li{
    display: inline-block;
    padding-right: 10px;
    padding-top: 11px;
    float: left;
    padding-left: 10px;
}
.blog-list .list-tags >li a{
    color: #777777;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}
.blog-list .list-archive{
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
}
.blog-list .list-archive>li{
    text-indent: -24px;
    padding-left: 24px;
    letter-spacing: .1em;
    padding-top: 15px;
}
.blog-list .list-archive>li::before{
    position: relative;
    display: inline-block;
    left: 0;
    top: 0;
    content: '';
    height: 9px;
    width: 9px;
    margin-right: 15px;
    border-radius: 50%;
    background-color: #c14679;
}
.blog-list .post-title a:hover,.blog-list .list-tags >li a:hover,.blog-list .list-categories a:hover,.blog-list .list-archive a:hover{
    color: #c14679;
    text-decoration: none;
}
.blog-list .blog-list-content .footer{
    margin-top: 0;
}