.choose{
margin-top: 90px;
}
.choose .row{
    margin: 8px 70px 8px 91px;
}
.choose .heading-1{
margin-bottom: 75px;
}

.choose .choose-details{
    display: inline-block;
    width:80%;
}
.choose .icon-right ,.choose .icon{
    display: inline-block;
    position: absolute;

}
.choose .icon-right{
    left: -86px;
}

.choose .fas{
    font-size: 45px;
    color: #c14679;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);


}
.choose .col{
    padding: 0;
    
}
.svg-bg{
    fill: #f7f7f7;
  
}

.choose .choose-heading{
    font-weight: 700;
    letter-spacing: 0.1em;
    font-size: 24px;
}
.choose .choose-paragraph{
    color: #999797;
    margin-bottom: 56px;
}
.choose  .choose-line{
    border-top: 1px solid #e3dddd;
    display: block;
    width: 120%;
    position: relative;
    top: -4px;
    margin-left: -24px;
}

.choose .choose-image{
    position: relative;
    top: 75px;
}
.choose-sale{
    background-image: url('/images/images/banner/parallax-bg-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;
}
.choose-content{
    margin-top: 26px;
    margin-left: 69px;
    padding-top: 69px;
}
.choose-content .heading-1{
    float: left;
    display: contents;
    line-height: 1.5;
}
.choose-content .header-1{
    font-size:48px;
    display: inline-flex;
    margin-bottom: 4px;
}
.choose-content .paragraph{
    font-size: 15px;
    display: block;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-top: 3px;
}
.choose-content .discount{
    display: block;
}
.choose-content .choose-span{
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-left: 30px;
}
.choose-content .btn {
    background-color: #c14679;
    font-size: 14px;
    padding: 20px 45px;
    line-height: 2;
    box-shadow: 3px 9px 18px 0 rgba(0, 0, 0, 0.18);
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    color: white;
    border-radius: 7px;
    margin-top: 13px;
}