.offer-page .container{
    margin-top: 70px;
}

.offer-page .offer-number{
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1;
    color: rgba(21, 21, 21, 0.1);
    transform: translate3d(-50%, -50%, 0);
    transition: inherit;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.offer-page .fa-birthday-cake,.offer-page .fa-cannabis , .offer-page .fa-truck, .offer-page .fa-money-check{
    font-size: 49px;
    color: #c14679;
    margin-left: 25px;
    position: relative;
    top: -6px;
}
.offer-page .offer-heading{
    font-weight: 600;
    letter-spacing: 0.03em;
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 7px;
    line-height: 1.5;
}
.offer-page .offer-content{
    letter-spacing: 0.02em;
    font-size: 15px;
    color: #777777;
    font-weight: 400;
    line-height: 1.4;
    max-width: 98%;
}
.offer-page .stay-connected{
    background-image: url("/images/images/banner/parallax-1.jpg");
    margin-top: 30px;
    padding: 70px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.offer-page .stay-connected .col{
    margin-left: -106px;
    margin-top: 47px;
}

.offer-page .stay-connected .stay-span{
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.33333;
    letter-spacing: 0.1em;
    color: #151515;
}

.offer-page .stay-connected .connected-span{
    font-weight: 300;
    display: block;
}
.offer-page .stay-connected .stay-paragraph{
    color: #777777;
}
.offer-page .stay-connected .offer-input{
    background-color: transparent;
    width:75%;
    border: 1px solid #e1e1e1;
    border-width: 0 0 1px 0;
    position: relative;
    height: 70px;
    display: initial;
}
.offer-page .stay-connected .form-control:focus{
    border: 1px solid #e1e1e1;
    border-width: 0 0 1px 0;
    box-shadow: none;
}
.offer-page .stay-connected .offer-label{
    position: absolute;
    top: 23px;
    left: 202px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: .05em;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #151515;
    transition:all 0.3s ease;
}
.offer-page .stay-connected .error-label{
    color: red;
    position: absolute;
    top: 48px;
    right: 229px;
    font-size: 11px;
    opacity: 0;
}
.offer-page .stay-connected .offer-button{
    background-color: #c14679;
    border:1px solid #c14679;
    border-radius: 6px;
    color: white;
    text-transform: uppercase;
    padding: 19px 50px;
    font-weight: 700;
    min-width: 190px;
    margin-left: 15px;
    letter-spacing: 0.05em;
    box-shadow: 3px 9px 18px 0 rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease-in-out;
}
.offer-page .stay-connected .offer-button:active , .offer-page .stay-connected .offer-button:hover{
    background-color: #a43664;
    border-color: #a43664;
}