body {
	text-align: center;
	font-size: 13px;
	line-height: 1.6;
	font-weight: 400;
	color: #777777;
	background-color: #ffffff;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: subpixel-antialiased;
}

@media (min-width: 768px) {
	body {
		font-size: 15px;
	}
}

h1, h2, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 600;
	font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	text-transform: uppercase;
	color: #151515;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	color: #c14679;
	text-decoration: none;
}
a:hover{
	color: #c14679;
	text-decoration: none;
}
