.price-list .list-header{
    position: relative;
    text-align: center;
    margin-top: 80px;
}
.price-list .list-body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 45%;
}
.price-list .list-header-2{
    line-height: 1.7;
    margin-top: 50px;
    font-weight: 400;
    letter-spacing: 0.1em;

}

.price-list .list-paragraph{
    color: #777777;
    font-size: 15px;
    margin-top: 12px;
    line-height: 1.7;
    font-weight: 400;
    letter-spacing: 0.05em;
}

.price-list .price{
    margin-top: 220px;
}