.contact .contact-header .container{
    margin-top: 90px;
}

.contact .unit-header{
    padding-right: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.05em;
    display: inline-block;
    position: relative;
    top: -8px;
}
.contact .contact-paragraph{
    border-left: 1px solid #e1e1e1;
    color: #777777;
    display: inline-block;
    padding-left: 30px;
    width: 50%;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05em;
}
.contact .offer-input{
    background-color: transparent;
    border: 1px solid #e1e1e1;
    border-width: 0 0 1px 0;
    position: relative;
    height: 70px;
    padding-top: 43px;
    display: block;
}
.contact .form-control:focus{
    border: 1px solid #e1e1e1;
    border-width: 0 0 1px 0;
    box-shadow: none;
}
.contact .offer-label{
    position: absolute;
    top: 34px;
    left: 30px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .05em;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #777777;
    will-change: transform;
    cursor: auto;
    line-height: 24px;
    transition:all 0.4s ease;
    z-index: 9;
}
.contact .error-label{
    color: #f5543f;
    position: absolute;
    top: 48px;
    right: 20px;
    font-size: 11px;
    opacity: 0;
}
.contact .form-group{
        padding: 50px 53px;
}

.contact .Message-area{
    border: 1px solid #e1e1e1;
    border-width: 0 0 1px 0;
    margin-top: 25px;
    padding-bottom: 13px;
    background-color: transparent;
}
.contact .error-message{
    top: 123px;
}

.contact .contact-button{
    margin-top: 55px;
    display: inline-block;
    color: #ffffff;
    background-color: #a43664;
    border:2px solid #a43664;
    min-width: 190px;
    text-align: center;
    text-transform: uppercase;
    padding: 24px 27px;
    border-radius: 6px;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-size: 14px;
    line-height: 2;
    overflow: hidden;
    transition:all 0.3s ease-in-out;
    position: relative;
    z-index: 1;

}
.contact .contact-button:hover, .contact .contact-button:active{
   background-color: #c14679;
    border-color: #c14679;
}
.contact  .contact-button::after {
    position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	width: 110%;
	padding-bottom: 110%;
	border-radius: 50%;
	transform: translate3d(-50%, -50%, 0) scale(1);
	transition: inherit;
	pointer-events: none;
    z-index: -1;
    background-color: #a43664;
    
}

.contact .contact-button:hover::after, .contact .contact-button:active::after {
    transform: translate3d(-50%, -50%, 0) scale(0);

}

.contact .contact-details{
    background-color: #f9faf9;
    text-align:center;
}
.contact .contact-details .container{
    padding: 97px 0;
}
.contact .contact-details .datails-header{
    letter-spacing: 0.05em;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 23px;
    margin-bottom: 12px;
}
.contact .contact-details .details-span{
    display: block;
    letter-spacing: 0.05em;
    font-weight: 300;
    color:#151515;
}
.contact .contact-details .details-span>a{
    color: #777777;
    font-weight: 400;
    transition: all 0.25s ease-in-out;
}
.contact .contact-details .details-span>a:hover{
color:#c14679;
text-decoration: none;
}
.contact .contact-footer{
    margin-top: 700px;
}